@use "./mixins" as *;

.about{
    padding-top: var(--base-padding);
    @include grid(2fr 1fr 1fr, 4rem, start, start);

    @include mq(lg) {
        @include grid(1fr, 2rem, start, start);
    }
}

.info-wrap { 
  @include flex-row(30px); 
  @include mq(md) { @include flex-col(1rem); }
}

.img-wrap img { max-height: 285px; }
.info-text{
  min-width: 390px;
}