.about{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: var(--base-padding);
    list-style: none;
    gap:50px;
}

.info-wrap{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.img-wrap{
    img{
       max-width: 285px;
       max-height: 285px; 
    }
}