@use "./mixins" as *;

h1 { 
    @include title-text(1.75rem); text-decoration: none; 
}

h3 { 
    font-family: var(--title-font-family); 
    font-size: 1.2rem;
}

a { 
    @include body-link; 
}

ul { 
    @include list-reset; 
}

li a {
  text-decoration: none;
  transition: opacity 0.2s ease;

  &:hover { opacity: 0.6; }
}

section{
    margin-top: 1rem;
}