@font-face {
    font-family: "Maregy";
    src: url('../fonts/OnlineWebFonts_COM_43b4e1317f22954b57eddd3b8a3536d5/MAREGY/MAREGY.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Regas";
    src: url('../fonts/OnlineWebFonts_COM_80d205893348488aee3ff2c2d2a4427d/Regas/Regas.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Regular";
    src: url('../fonts/OnlineWebFonts_COM_f37b4d455801b96c21de558f70860e83/Regular/Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}