:root {
    /* Colors */
  --background-color:  #E8E8E8;
  --text-color: #061D33;

  /* Typography */
  --font-size-base: 18px;
  --font-family: "Open Sans";
  --title-font-family: "Maregy";

  /* Layout */
  --container-width: 100%;
  --base-padding: 1rem;
}
