@use "./mixins" as *;

.name{
  text-decoration: none;
  min-width: 300px;
}
.header__wrapper {
  display: grid;
  font-size: var(--font-size-base);
  @include grid(1fr 1fr 10fr 1fr, 0, center, left);
}

.menu {
  @include flex-row(15px, center, flex-start);
  padding: 0;

  a {
    padding-left: 1rem; 
    font-family: var(--title-font-family); }

  @include mq(sm) {
    flex-wrap: wrap;
    gap: 10px;
  }
}
